---
import { courses } from "../lib/db";
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../layouts/PageContentWrapper.astro";
import Separator from "../layouts/Separator.astro";
import Player from "../components/Player.tsx";
import ValProp from "../components/ValProp.astro";
import FilterButton from "../components/FilterButton.astro";
import PrimaryButton from "../components/PrimaryButton.astro";
import CourseTile from "../components/CourseTile.astro";
import { themeColors } from "../utils/colors.ts";

const skills = [
  "Dart",
  "Layout",
  "Models",
  "Fonts",
  "Style",
  "Image",
  "Navigation",
  "Event Handlers",
  "State Management",
  "JSON",
  "Web Services",
  "Integration Tests",
  "AppBar",
];
const reviews = [
  "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.",
  "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.",
  "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.",
  "“Honestly, your content is still the best crash course and intro to flutter fut relying on firebase to build all these apps”.",
];
const whyRocks = [
  "Taught by an experienced hands-on developer",
  "Learn by creating fun, real-life engaging products",
  "Courses for any level from absolute beginner to advanced developers",
  "Wide variety of topics to choose from",
  "Work at your own pace - finish as quickly or as slowly as you like",
  "Lots of free content and affordable premium courses",
  "Personal support if you need help or have questions",
  "Clear pronounciation even for non-native English speakers",
  "Crystal clear explanations of the most complex concepts",
  "Start developing mobile apps of various difficulty levels from the start!",
  "No fluff or unnecessary stuff - only what you need to get productive",
  "Practical hands-on approach and just enough theory ",
  "Friendly + warm learning environment",
  "Production-ready code",
  "Weekly best practices, tips + cool widgets FREE of charge",
  "Awesome, friendly + supportive community",
];

const courseItems = await courses.all();
---

<MainLayout title="Home">
  <Section append={themeColors("primary")}>
    <h1>LEARN PROGRAMMING BY BUILDING REAL APPS STEP BY STEP</h1>
  </Section>
  <Separator
    appendOuter={themeColors("primary")}
    appendInner={themeColors("accent")}
    clipPath="polygon(0 30%, 100% 60%, 100% 100%, 0 100%);"
  />
  <Section append={themeColors("accent")}>
    <div class="text-center grid lg:grid-cols-3 gap-4">
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
      <ValProp vals="Join|13,000|fellow students" />
    </div>
  </Section>
  <Separator
    appendOuter={themeColors("accent")}
    appendInner={themeColors("secondary")}
    clipPath="polygon(0 60%, 100% 30%, 100% 100%, 0 100%);"
  />
  <Section append={themeColors("secondary")}>
    <h2 class="text-right mb-12">Flutter Skills We Teach</h2>
    <div class="text-center grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
      {skills.map((v) => <FilterButton>{v}</FilterButton>)}
    </div>
  </Section>
  <Separator
    appendOuter={themeColors("secondary")}
    appendInner={themeColors("primary")}
    clipPath="polygon(0 60%, 100% 30%, 100% 100%, 0 100%);"
  />
  <Section append={themeColors("primary")}>
    <h2 class="text-center mb-12">Community Love</h2>
    <div class="text-center grid sm:grid-cols-2 lg:grid-cols-2 gap-16">
      {reviews.map((v) => <p>{v}</p>)}
    </div>
  </Section>
  <Separator
    appendOuter={themeColors("primary")}
    appendInner={themeColors("secondary")}
    clipPath="polygon(0 60%, 100% 30%, 100% 100%, 0 100%);"
  />
  <Section append={themeColors("secondary")}>
    <h3 class="text-right mb-8">
      Hi, I'm <span class="text-lg lg:text-3xl">Nick</span>. Watch to see <span
        class="text-lg lg:text-3xl">WHO THIS IS FOR</span
      > (and what you'll learn).
    </h3>
    <center>
      <Player
        client:only="preact"
        width="1200"
        src="https://fluttercrashcourse.global.ssl.fastly.net/videos/285710042/playlist.m3u8"
        poster="https://fluttercrashcourse.global.ssl.fastly.net/thumbnails/721773666_640.webp"
      />
    </center>
    <p class="text-right pt-10">
      Whether you are a complete beginner or an advanced programmer, you will
      find courses here for your level.
    </p>
    <div class="text-right mt-12">
      <a href="/courses"><PrimaryButton theme="primary" label="BROWSE COURSES" /></a>
    </div>
  </Section>
  <Separator
    appendOuter={themeColors("secondary")}
    appendInner={themeColors("accent")}
    clipPath="polygon(0 60%, 100% 100%, 100% 100%, 0 100%);"
  />
  <Section append={themeColors("accent")}>
    <h2 class="text-center mt-6">WHY OUR COURSES ROCK</h2>
    <div class="grid sm:grid-cols-1 lg:grid-cols-2 gap-12 p-4">
      {whyRocks.map((v) => <li>{v}</li>)}
    </div>
    <h2 class="mt-16 text-center">Popular Courses</h2>
    <center>
      <div class="flex flex-col gap-12">
        {[courseItems[0], courseItems[1]].map((c) => <a href=`/courses/${c.slug.current}`><CourseTile course={c} /></a>)}     
      </div>
    </center>
    <div class="text-center mt-20 mb-8">
      <a href="/courses"><PrimaryButton theme="secondary" label="JUMP TO ALL COURSES" /></a>
    </div>
  </Section>
  <Separator
    appendOuter={themeColors("secondary")}
    appendInner={themeColors("accent")}
    clipPath="polygon(0 0, 100% 0, 100% 30%, 0 0);"
  />
  <Section append={themeColors("secondary")}>
    <h2 class="text-center">YOUR INSTRUCTOR</h2>
    <img src="https://fluttercrashcourse.global.ssl.fastly.net/uploads/nick-pace-5.jpg" class="mr-8 mb-4 float-left" style="width:400px;" />
    <!-- TODO convert to markdown -->
    <p class="my-5">Hi there! I am Nick Manning, your instructor.</p>
    <p class="my-5">I have had a passion for programming ever since I can remember - coppying code into my notebook with a pencil in my free time:)</p>
    <p class="my-5">The past 19 years of my life has been an exciting journey of working as technical lead, Director of Mobile and CTO at various amazing companies, including such global brands as Adidas, Reebok and Louis Vuitton and a now-Trip-Advisor-acquired company.</p>
    <p class="my-5">Over the years I have co-founded various startups one of which was a participant at the Techstars accelerator.</p>
    <p class="my-5">I regularly post cool content on Youtube - so make sure to head over and subscribe. If you prefer reading, I also have a blog. You can also say hi on Twitter.</p>
    <p class="my-5">Learn more about me here or just...</p>  
    <div class="text-right mt-12 mb-12">
      <a href="/courses"><PrimaryButton theme="primary" label="BROWSE COURSES" /></a>
    </div>
  </Section>
  <Section append={themeColors("tertiary")}>
    <h4 class="text-primary">Nick on TWITTER</h4>
    <p>The latest mini-project I've whipped up today. Super fast "full texdt searching" using @supabase and a simple search experience with @FlutterDev. Code walkthrough coming this week at <a href="https://twitter.com/seenickcode" target="_blank">@seenickcode</a></p>
    <p class="border-solid border-b-2 border-primary mt-4 mb-8">&nbsp;</p>
    <h4 class="text-primary">Nick on YOUTUBE</h4>
    <div class="flex flex-row gap-12">
      <!-- <iframe width="300" src="https://www.youtube.com/embed/_7qv9zHEgTc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <div>
        <h5>After 4 YEARS as a Flutter instructor, here are my 5 tips for newcomers [for 2022]</h5>
        <p>Here are my 5 tips I'd give _newcomers_ to Flutter in 2022. Save time, learn smart, find a learning path and most importantly, build something. I've been writing Watch video on Youtube</p>
      </div>
    </div>
    <p class="border-solid border-b-2 border-primary mt-4 mb-8">&nbsp;</p>
    <h4 class="text-primary">Latest on the BLOG</h4>
    <h5>WebViews in Flutter</h5>
    <p>Let’s start coding a simple form, using a MaterialApp widget. Forms are an essential feature for almost any mobile app. There are two major types of forms, one is for something like sign up or some onboarding flow and another is more of a utility, such as a settings or an update profile screen.</p>
  </Section>
</MainLayout>
