---
import PillLabel from "../components/PillLabel.astro";
import { formatPrice } from "../utils/formatters";
const { course } = Astro.props;

---
<div class="flex flex-row flex-wrap max-w-lg sm:w-full lg:max-w-2xl h-72 max-h-72">
    <div class="lg:basis-1/3" style=`background-image: url(${course.thumbnail_url})` />
    <div class="lg:basis-2/3 px-8 py-8 bg-white dark:bg-primary text-black text-left w-full">
        <h3 class="">{course.name}</h3>
        <h2>hi</h2>
        <div class="flex flex-row gap-4">
            <PillLabel theme="active">{formatPrice(course.price)}</PillLabel>
            <PillLabel theme="inactive">{course.level}</PillLabel>
        </div>
        <p class="my-8">{course.blurb}</p>
    </div>
</div>